@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body{
    background-color: rgb(167, 110, 90);
    
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
}
.box{
    width: 600px;
    height: 600px;
    margin: auto;
}
.row{
    height: 200px;
    border-top: 2px solid white;
    display: flex;
}  
.low{
    margin-top: -1.5px;
}
.high{
    border-top: none;
}
.block{
    width: 200px;
    border: 2px solid white;
    text-align: center;
}
p{
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;  
    color: rgb(255, 255, 255);
    font-family: 'Gowun Dodum', sans-serif;
}
#card{
    border: 2px solid rgb(255, 255, 255);
    width: 30%;
    height: 200px;
    margin: auto;
    position: relative;
    margin-top: -30%;
    background-color: rgb(199, 171, 134);
    border-radius: 50px;
    box-shadow: -5px 5px 20px 0px rgb(114, 109, 109);
    display: none;
}

#meseege{
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

/* -----------------Main Manu----------------------- */
.manu{
    background-image: url(/img/gameBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 100%; 
}
ul {
    position: relative;
    display: flex;
  }

  li {
    list-style: none;
  }
  
  label {
    position: relative;
  }
  
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 80px;
    width: 80px;
    z-index: 100;
  }

  .letters {
    position: relative;
    height: 80px;
    width: 80px;
    background: #001737;
    color: #555;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
  }

  /* -------------------animation------------------- */
  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  /* ------------------gamemodes----------------- */

  .gamemode{
      width: 45%;
      margin: auto;
      margin-top: 300px;
      display: flex;
      justify-content: space-between;
  }

  button{
      height: 80px;
      width: 300px;
      background-color: #001737;
      color: #555;
      font-weight: bold;
      border-radius: 20px;
      font-size: 30px;
  }